

CREATE DATABASE OrderSaleProcess
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderSaleProcess', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OrderSaleProcess.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderSaleProcess_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OrderSaleProcess_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderSaleProcess].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderSaleProcess]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[DateID] [int] IDENTITY(1,1) NOT NULL,
	[CalendarDate] [datetime] NULL,
	[WeekDayName] [nvarchar](50) NULL,
	[MonthName] [nvarchar](50) NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Date]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Date](
	[DateID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
 CONSTRAINT [PK_Date] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[F_Order]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F_Order](
	[OrderID] [int] NOT NULL,
	[P_ID] [int] NULL,
	[SH_ID] [int] NULL,
	[SP_ID] [int] NULL,
	[E_ID] [int] NULL,
	[DateID] [int] NULL,
	[C_ID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Quantity*UnitPrice] [decimal](9, 2) NOT NULL,
	[Discount] [decimal](9, 2) NULL,
 CONSTRAINT [PK_F_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](9, 2) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[UnitsInStock] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[SH_ID] [int] IDENTITY(1,1) NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[SH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_dim_Customer]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_dim_Customer](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[Country] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_dim_Employee]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_dim_Employee](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_E_ID] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_dim_Product]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_dim_Product](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](9, 2) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[UnitsInStock] [int] NOT NULL,
 CONSTRAINT [PK_P_ID] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_dim_Shipper]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_dim_Shipper](
	[SH_ID] [int] IDENTITY(1,1) NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SH_ID] PRIMARY KEY CLUSTERED 
(
	[SH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage_dim_Supplier]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage_dim_Supplier](
	[SP_ID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SP_ID] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2/26/2019 11:45:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SP_ID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calendar] ON 

INSERT [dbo].[Calendar] ([DateID], [CalendarDate], [WeekDayName], [MonthName], [Year]) VALUES (1, CAST(N'1996-01-01T00:00:00.000' AS DateTime), N'Monday', N'January', 1996)
INSERT [dbo].[Calendar] ([DateID], [CalendarDate], [WeekDayName], [MonthName], [Year]) VALUES (2, CAST(N'1996-01-02T00:00:00.000' AS DateTime), N'Tuesday', N'January', 1996)
INSERT [dbo].[Calendar] ([DateID], [CalendarDate], [WeekDayName], [MonthName], [Year]) VALUES (3, CAST(N'1996-01-03T00:00:00.000' AS DateTime), N'Wednesday', N'January', 1996)
GO
SET IDENTITY_INSERT [dbo].[Calendar] OFF
SET IDENTITY_INSERT [dbo].[stage_dim_Customer] ON 

INSERT [dbo].[stage_dim_Customer] ([C_ID], [CustomerID], [Country]) VALUES (1, N'ALFKI', N'Germany')
INSERT [dbo].[stage_dim_Customer] ([C_ID], [CustomerID], [Country]) VALUES (2, N'ANATR', N'Mexico')
INSERT [dbo].[stage_dim_Customer] ([C_ID], [CustomerID], [Country]) VALUES (3, N'ANTON', N'Mexico')
SET IDENTITY_INSERT [dbo].[stage_dim_Customer] OFF
SET IDENTITY_INSERT [dbo].[stage_dim_Employee] ON 

INSERT [dbo].[stage_dim_Employee] ([E_ID], [EmployeeID], [LastName], [FirstName]) VALUES (1, 1, N'Davolio', N'Nancy')
INSERT [dbo].[stage_dim_Employee] ([E_ID], [EmployeeID], [LastName], [FirstName]) VALUES (2, 2, N'Fuller', N'Andrew')
INSERT [dbo].[stage_dim_Employee] ([E_ID], [EmployeeID], [LastName], [FirstName]) VALUES (3, 3, N'Leverling', N'Janet')
SET IDENTITY_INSERT [dbo].[stage_dim_Employee] OFF
SET IDENTITY_INSERT [dbo].[stage_dim_Product] ON 

INSERT [dbo].[stage_dim_Product] ([P_ID], [ProductID], [UnitPrice], [ProductName], [UnitsInStock]) VALUES (1, 1, CAST(18.00 AS Decimal(9, 2)), N'Chai', 39)
INSERT [dbo].[stage_dim_Product] ([P_ID], [ProductID], [UnitPrice], [ProductName], [UnitsInStock]) VALUES (2, 2, CAST(19.00 AS Decimal(9, 2)), N'Chang', 17)
INSERT [dbo].[stage_dim_Product] ([P_ID], [ProductID], [UnitPrice], [ProductName], [UnitsInStock]) VALUES (3, 3, CAST(10.00 AS Decimal(9, 2)), N'Aniseed Syrup', 13)
SET IDENTITY_INSERT [dbo].[stage_dim_Product] OFF
SET IDENTITY_INSERT [dbo].[stage_dim_Shipper] ON 

INSERT [dbo].[stage_dim_Shipper] ([SH_ID], [ShipperID], [CompanyName]) VALUES (1, 1, N'Speedy Express')
INSERT [dbo].[stage_dim_Shipper] ([SH_ID], [ShipperID], [CompanyName]) VALUES (2, 2, N'United Package')
INSERT [dbo].[stage_dim_Shipper] ([SH_ID], [ShipperID], [CompanyName]) VALUES (3, 3, N'Federal Shipping')
SET IDENTITY_INSERT [dbo].[stage_dim_Shipper] OFF
SET IDENTITY_INSERT [dbo].[stage_dim_Supplier] ON 

INSERT [dbo].[stage_dim_Supplier] ([SP_ID], [SupplierID], [CompanyName]) VALUES (1, 18, N'Aux joyeux ecclésiastiques')
INSERT [dbo].[stage_dim_Supplier] ([SP_ID], [SupplierID], [CompanyName]) VALUES (2, 16, N'Bigfoot Breweries')
INSERT [dbo].[stage_dim_Supplier] ([SP_ID], [SupplierID], [CompanyName]) VALUES (3, 5, N'Cooperativa de Quesos ''Las Cabras''')
SET IDENTITY_INSERT [dbo].[stage_dim_Supplier] OFF
ALTER TABLE [dbo].[F_Order]  WITH CHECK ADD  CONSTRAINT [FK_F_Order_Customer] FOREIGN KEY([C_ID])
REFERENCES [dbo].[Customer] ([C_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[F_Order] CHECK CONSTRAINT [FK_F_Order_Customer]
GO
ALTER TABLE [dbo].[F_Order]  WITH CHECK ADD  CONSTRAINT [FK_F_Order_Employee] FOREIGN KEY([E_ID])
REFERENCES [dbo].[Employee] ([E_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[F_Order] CHECK CONSTRAINT [FK_F_Order_Employee]
GO
ALTER TABLE [dbo].[F_Order]  WITH CHECK ADD  CONSTRAINT [FK_F_Order_F_Date] FOREIGN KEY([DateID])
REFERENCES [dbo].[Calendar] ([DateID])
GO
ALTER TABLE [dbo].[F_Order] CHECK CONSTRAINT [FK_F_Order_F_Date]
GO
ALTER TABLE [dbo].[F_Order]  WITH CHECK ADD  CONSTRAINT [FK_F_Order_Product] FOREIGN KEY([P_ID])
REFERENCES [dbo].[Product] ([P_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[F_Order] CHECK CONSTRAINT [FK_F_Order_Product]
GO
ALTER TABLE [dbo].[F_Order]  WITH CHECK ADD  CONSTRAINT [FK_F_Order_Shipper] FOREIGN KEY([SH_ID])
REFERENCES [dbo].[Shipper] ([SH_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[F_Order] CHECK CONSTRAINT [FK_F_Order_Shipper]
GO
ALTER TABLE [dbo].[F_Order]  WITH CHECK ADD  CONSTRAINT [FK_F_Order_Supplier] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[Supplier] ([SP_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[F_Order] CHECK CONSTRAINT [FK_F_Order_Supplier]
GO
USE [master]
GO
